.page{
  background-color: #F2F2F2;
}
.container::-webkit-scrollbar{
  display: none;
}
.container{
  height: calc(100vh - 100px);
  overflow-y: scroll;
}
.index_header{
  font-size: 16px;
  height: 50px;
  padding: 0 5px;
  position: relative;
  align-content: center;
  justify-content: center;
}
.index_header_item{
  width: 22vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index_header_active{
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #fff;
  width: calc(22vw - 20px);
  transition: all 0.3s;
}
.index_header_button{
  height: 100%;
  padding: 0 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 0;
}
.index_header_text{
  
}

.swiper_img{
  width: 100%;
  height: 40vw;
  object-fit: cover;
}
.container1_nav{
  background-color: #fff;
}
.container1_nav_item{
  height: 90px;
  flex: 1;
  font-size: 12px;
}
.container1_nav_icon{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 8px 0;
  object-fit: cover;
}

.container1_content_fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.container1_content{
  background-color: #fff;
  padding-bottom: 5px;
  margin-bottom: 15px;
  position: relative;
}
.container1_content_title{
  padding: 5px 10px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}
.container1_content_photo{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin: 4px 10px 4px 0;
}
.container1_content_info{
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  padding-right: 10px;
}
.container1_content_name{
  color: #007AFF;
  font-size: 15px;
  overflow: hidden;
}
.container1_content_address{
  font-size: 12px;
  padding-left: 10px;
  color: #999;
  white-space: nowrap;
}
.container1_content_pet{
  background-color: #f2f2f2;
  border-radius: 6px;
  margin-top: 3px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.container1_content_pet_photo{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 4px;
}
.container1_content_pet_name{
  font-size: 12px;
  line-break: 16px;
  line-height: 1;
}
.container1_content_pet_type:before{
  content: '';
  height: 8px;
  width: 1px;
  background-color: #DCDCDC;
  margin: auto 8px;
  display: block;
}
.container1_content_pet_type{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  color: #C0C0C0;
}
.container1_content_pet_sex{
  font-size: 12px;
  line-height: 1;
  color: #A4D3EE;
  margin: 0 5px;
}
.container1_content_attention{
  height: 24px;
  border-radius: 5px;
  border: 1px solid #DCDCDC;
  font-size: 14px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1_content_img{
  width: 100%;
  display: block;
}
.container1_content_more{
  padding: 6px 5px 10px;
}
.container1_content_more_photo{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 2px;
}
.container1_content_likeNum{
  color: #999;
  font-size: 13px;
  padding: 0 8px;
}
.container1_content_more .iconfont{
  font-size: 24px;
  line-height: 1;
  width: 24px;
  height: 24px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}
.container1_content_comment{
  font-size: 13px;
  line-height: 18px;
  padding: 3px 10px;
  overflow: hidden;
  letter-spacing: 0.5px;
}
.container1_content_comment_more{
  color: #0062CC;
  font-size: 12px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}